.navbar-dark .navbar-nav .nav-link
{
  color: white;
}
.navbar-dark .navbar-nav .nav-link:hover
{
  color: rgb(53, 226, 68);
  font-weight: 500;
}
.textdetail
{
  font-size: 17px;
}
body
{
  font-family: 'IBM Plex Sans', sans-serif;
}
.container-fluid {
  margin: 0px !important;
  padding: 0px !important;
}
